* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: white;
}

@media (max-width:768px) {
  nav ul {
    width: 100%;
  }
}

@media (max-width:600px) {
  nav ul li {
    font-size: 10px;
  }
}