.card {
  width: 180px;
  height: auto;
  margin: 12px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  color: black;
}

h3 {
  font-size: 1rem;
  margin:1rem;
}

.card img {
  width: 180px;
  height: auto;
  filter: grayscale(0.7);
}

button {
  padding: 10px;
  border: none;
  background-color: inherit;
  border-radius: 5px;
  cursor: pointer;
}

.likes_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.likes_container p {
  width: 10%;
}

.close {
  padding: 0.5rem 12px;
  position: absolute;
  top: -10px;
  right: -10px;
  margin: 0;
  background-color: inherit;
  border-radius: 50%;
}